---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/ve-toi/</loc></url>
  <url><loc>{{ site.url }}/bai-viet/</loc></url>
  <url><loc>{{ site.url }}/du-an/</loc></url>
  <url><loc>{{ site.url }}/ghi-chu/</loc></url>
  <url><loc>{{ site.url }}/lien-he/</loc></url>
  {% for post in collections.post %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateISO }}</lastmod>
  </url>
  {% endfor %}
</urlset>
